{{ define "main" }}

  <div class="row">
    {{ range (where .Pages.ByWeight.Reverse "Type" "!=" "invisible") }}

      <div class="blog-list-link-container game-list-container one-third column">
        <a class="blog-list-link" href="{{ .RelPermalink }}">
          <div class="blog-list-title game-list-title blog-hover">{{ .Title }}</div>
          <div class="game-list-image-container">
            {{ with .Resources }}

              {{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }}

                {{ $cover := . }}
                {{ with $cover }}

                  <img class="cover-image" src="{{ .Permalink }}"/>   

                {{ end }}

              {{ end }}

            {{ end }}

          </div>
        </a>
        <div class="game-list-border"></div>
      </div>

    {{ end }}
  </div>
  
{{ end }}