{{ define "main" }}
  <div class="row">
    <div class="one column">
      {{ range (where .Pages.ByPublishDate.Reverse "Type" "!=" "invisible") }}

        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}

        <div class="blog-list-link-container">
          <span class="blog-list-title">{{ .Title }}</span>
          <time class="blog-list-date" datetime="{{ $dateTime }}">
            <span class="blog-list-date-spacer">-</span>{{ .PublishDate.Format $dateFormat }}
          </time>
          <div class="blog-list-summary blog-hover">
            {{ .Summary }}
          </div>
          {{ if .Truncated }}

            <a href="{{ .RelPermalink }}">Read More...</a>
            
          {{ end }}
        </div>

      {{ end }}
    </div>
  </div>
  
{{ end }}