html {
	box-sizing: border-box;
	height: 100%;
}
body {
	font-family: 'Montserrat', sans-serif;
}

svg {
	width: 2.2rem;
	height: 2.2rem;
}


h1, h2, h3, h4, h5, h6 {
	color: #a6a6a6;
}

a {
	text-decoration: none;
	color: #47C2FF;
	font-weight: bold;
}

a:hover {
	color: #47C2FF;
}

@media screen and (min-width: 800px) {
	a:hover {
		color: #50D7A4;
	}
}

pre {
	white-space: pre-wrap;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	padding: 0.2em 0.4em;
	border-radius: 2px;
}